{% extends "base.html" %}
{% block content %}
<h1>{% if annotation %}Edit Annotation{% else %}New Annotation{% endif %}</h1>
<form method="post" action="{% if annotation %}/ui/annotations/{{annotation.id}}/edit{% else %}/ui/annotations/create{% endif %}">
<label>Image ID: <input type="number" name="image_id" value="{{ annotation.image_id if annotation else '' }}"></label><br>
<label>Label: <input type="text" name="label" value="{{ annotation.label if annotation else '' }}"></label><br>
<label>X: <input type="number" step="any" name="x" value="{{ annotation.x if annotation else '' }}"></label><br>
<label>Y: <input type="number" step="any" name="y" value="{{ annotation.y if annotation else '' }}"></label><br>
<label>Width: <input type="number" step="any" name="width" value="{{ annotation.width if annotation else '' }}"></label><br>
<label>Height: <input type="number" step="any" name="height" value="{{ annotation.height if annotation else '' }}"></label><br>
<label>User ID: <input type="number" name="user_id" value="{{ annotation.user_id if annotation else '' }}"></label><br>
<button type="submit">Save</button>
</form>
{% endblock %}
