{% extends "base.html" %}
{% block content %}
<h1>Images</h1>
<a href="/ui/images/upload">Upload Image</a>
<table border="1">
<tr><th>ID</th><th>Filename</th><th>Actions</th></tr>
{% for img in images %}
<tr>
<td>{{ img.id }}</td>
<td>{{ img.filename }}</td>
<td>
    <a href="/ui/images/{{ img.id }}/edit">Edit</a>
    <form method="post" action="/ui/images/{{ img.id }}/delete" style="display:inline;">
        <button type="submit">Delete</button>
    </form>
</td>
</tr>
{% endfor %}
</table>
{% endblock %}
